* {
  margin: 0;
  padding: 0;
  font-family: SF display, sans-serif;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 100px;
  margin-left: 120px;
  margin-right: 120px;
}
input {
  border: none;
  background: transparent;
  outline: none;
  color: white;
}
.search-input {
  color: white;
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  height: 100vh;
  background: linear-gradient(rgb(0, 0, 0, 0.7), rgb(0, 0, 0)),
    url("https://unread.today/files/007afc64-288a-4208-b9d7-3eda84011c1d/1451f11e03da76480966b636a622119a.jpg");
  background-size: 100%;
  padding: 20px;
}
.hero-contect {
  width: 1440px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;

  gap: 68px;
}
.hero-contect div {
  width: 50%;

  color: aliceblue;
}

.hero-contect h1 {
  -webkit-text-stroke: white 1px;
  color: transparent;
  font-weight: bold;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 40px;
}

.shine {
  font-weight: 700;
  font-size: 14px;
  color: #0078f6;
  animation: blink 2s linear infinite;
}
@keyframes blink {
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
}

.toosuld {
  background: url("duusuld.jpg");
  background-size: cover;
  height: 446.4px;
  max-width: 446.4px;
  background-position: center;
  border-radius: 16px;
  background-size: 160%;
  overflow: hidden;
  transition: all 0.4s;
}
.toosuld:hover {
  background-size: 175%;
}
.toosuld-text {
  font-size: 35px;
  text-transform: uppercase;
  font-weight: bolder;
  transition: all 0.4s;
  font-weight: 700;
}
.toosuld-text:hover {
  opacity: 0.7;
}
.icons {
  min-height: 100px;
  min-width: 200px;
  opacity: 70%;
  display: flex;
  align-items: center;
  gap: 13px;
  color: white;
}
.fa-square-facebook {
  font-size: 15px;
  opacity: 100%;
  transition: 0.3s;
}
.fa-square-facebook:hover {
  opacity: 100%;
  transition: 0.3s;
  color: #1877f2;
}
.fa-instagram {
  opacity: 100%;
  transition: 0.3s;
}
.fa-instagram:hover {
  opacity: 100%;
  transition: 0.3s;
  color: #e4405f;
}
.fa-twitter {
  opacity: 100%;
  transition: 0.3s;
}
.fa-twitter:hover {
  opacity: 100%;
  transition: 0.3s;
  color: #1da1f2;
}
.fa-linkedin-in {
  opacity: 100%;
  transition: 0.3s;
}
.fa-linkedin-in:hover {
  opacity: 100%;
  transition: 0.3s;
  color: #0a66c2;
}

.asap {
  width: 36px;
  height: 36px;
  border-radius: 50px;
  border: 2px solid gray;
}
.asap:hover {
  border: 2px solid white;
  transition: all 0.2s;
}
.ner {
  color: solid white;
  opacity: 50%;
  font-size: 12px;
}
.ner:hover {
  opacity: 100%;
  transition: 0.2s;
}

.harzurag {
  position: relative;

  height: 200px;
  background-color: black;
  display: flex;
  justify-content: space-around;
}

.songolt {
  position: absolute;
  top: -60px;
  font-size: 17px;
  color: white;
  font-weight: 900;

  text-align: center;
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 1250px;
}
.zuragnuud {
  display: flex;
  justify-content: space-between;
  gap: 35px;
}
.slide {
  width: 244px;
  height: 360.36px;
  border-radius: 9px;
  transition: all 0.4s;
}
.slide:hover {
  opacity: 100%;

  transform: scale(1.06);
}
.article1-container {
  width: 700px;
  height: 200px;
  border: 1px black;
  border-radius: 8px;
  background-color: white;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.article1-container:hover {
  opacity: 100%;
  transition: all 1s ease-in-out;
}
section {
  height: 4000px;
  background-color: #fafafa;
}
.thisweek {
  padding-top: 200px;
}

footer {
  background-color: black;
  height: 700px;
  color: white;
}
.image {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 50px;
  display: flex;
  justify-self: flex-end;
}
.h4 {
  font-size: 14px;
  color: #0078f6;
  animation: blink 1s linear infinite;
}
