* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  height: 80px;

  background-color: blueviolet;
  padding-left: 300px;
  padding-right: 300px;
}
.hero {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 1)),
    url("https://unread.today/files/007afc64-288a-4208-b9d7-3eda84011c1d/1451f11e03da76480966b636a622119a.jpg");
  background-size: 100%;
}
.hero-content {
  width: 800px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  color: white;
  padding-top: 150px;
  gap: 30px;
}
.hero-content div {
  width: 50%;
  height: 300px;
}

.left {
  background-image: url("duusuld.jpg");
  height: 446.4px;
  width: 446.4px;
  border-radius: 16px;
  background-position: center;
  background-size: 160%;
  transition: all 1s ease;
}
.left:hover {
  background-size: 170%;
}
.right {
  font-size: 20px;
}
.icons {
  color: #ffffff;
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}
.p {
  font-size: 20px;
}
.h1 {
}
.h2 {
  color: #ffffff;
  font-family: arial;
}
